.heading {
	padding: 0px 10px;
	background-color: var(--pico-color-blue-600);
	margin-bottom: 10px;
}

.center {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

textarea {
	min-height: 250px;
}

.truncate {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 10px;
	padding-right: 10px;
}
